* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	background: radial-gradient(
		circle,
		rgb(5, 3, 46) 0%,
		rgb(101, 14, 84) 0%,
		rgb(183, 0, 98) 100%
	);
}
.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, rgb(255, 255, 255), rgb(255, 255, 255));
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;