* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
  background-color: #dddddd;
}
body .card {
	background: radial-gradient(
		circle,
		rgb(5, 3, 46) 0%,
		rgb(101, 14, 84) 0%,
		rgb(183, 0, 98) 100%
	);
}
.card {
	width: 90%;
	max-width: 470px;
		margin: 100px auto 0;
	border-radius: 20px;
	padding: 40px 35px;
	text-align: center;
}
.search {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
  border-radius: 20px;
}
.search input {
	border: 0;
	outline: 0;
  border-radius: 30px;
  padding: 10px 20px;
  width: 70%;
  font-size: 14px;
  margin-left: 10px;
  
  }
.search button {
  border: 0;
  outline: 0;
  background: transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.search button img {
  width: 16px;
  
  border-radius: 50%;
}


